*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

.orderNo{
    margin-left: 25%;
    margin-top: 1%;
}

.orderForm{
    position: relative;
    height: 2%;
    background: #FFFFFF;
    border-bottom: 2px solid #F8914A;
}

.orderForm input, select{
    border: none;
    outline: none;
    margin-top: 1%;
    width: 100%;
    font-size: 85%;
}

.btn_back button, .btn_cancel button, .btn_update button{
    background: rgb(235, 137, 58);
    color: #FFFFFF;
    font-size: 1vw;
    border: 2px solid #FFFFFF;
    cursor: pointer;
    border-radius: 15px;
    position: absolute;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 8%;
    width: 8%;
}

.btn_back button, .btn_update button{
    background: rgb(235, 137, 58);
    color: #FFFFFF;
    border: 2px solid #F8914A;
    /* margin-left: 33%; */
}

.btn_cancel button{
    background: #FFFFFF;
    color: #F8914A;
    border: 2px solid #F8914A;
}

.btn_back button{
    margin-left: 33%;
}

.btn_cancel{
    margin-left: 62%;
}

.btn_update button{
    margin-left: 71%;
}

:is(.btn_back button, .btn_update button):hover{
    background: #FFF;
    color: rgb(235, 137, 58);
    border: 2px solid rgb(235, 137, 58);
}

a{
    text-decoration: none;
}

.noEdit{
    font-size: 85%;
    color: black;
}