*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /*font-family: 'Poppins', sans-serif;*/
}

.background_img{
    background-image: url(../../assets/home-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 12%;
    box-sizing: border-box;
    /*background: rgba(215, 102, 25, 0.44);*/
    background: rgba(255, 255, 255, 0.582);
    padding: 10px;
}

nav .logo{
    float: left;
    margin-left: 2%;
    margin-top: 1vh;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

nav button{
    background: rgb(215, 101, 25);
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    padding: 15px 35px;
    float: right;
    margin-right: 5%;
    cursor: pointer;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

nav button:hover{
    background: rgb(179, 72, 2);
}

.dash-btn:hover{
    background: rgb(136, 55, 1);
}

.middle-txt{
    position: absolute;
    top: 32%;
    left: 8%;
    color: #FFFFFF;
}

.middle-txt h1{
    font-size: 8vh; 
    margin-bottom: 1%;
}

.middle-txt h3{
    font-size: 3vh;
}

.large-title{
    width: 85%;
}
.dash-btn{
    position: absolute;
    top: 62%;
    left: 40%;
    width: 20%;
    height: 10%;
    background: rgba(215, 102, 25, 0.35);
    border: 1px solid #D76619;
    color: #FFFFFF;
    font-size: 4vh;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

.back-col-home{
    position: absolute;
    top: 12%;
    left: 0;
    width: 100%;
    height: 88%;
    background: rgba(0, 0, 0, 0.425);
}

@media screen and (max-width:950px) {
    .middle-txt{
        position: absolute;
        top: 20%;
        left: 6%;
        color: #FFFFFF;
    }

    .middle-txt h1{
        font-size: 6vh; 
        margin-bottom: 3%;
    }
    
    .middle-txt h3{
        font-size: 2vh;
    }

    .large-title{
        width: 95%;
    }
    
    .dash-btn{
        width: 40%;
        font-size: 2vh;
        left: 30%;
    }
}