*{
    margin: 0;
    padding: 0;
    /*background: #031086;*/
    font-family: 'Roboto', sans-serif;
}

form{
    margin-top: 5%;
}
.left-side{
    /* margin-top: 2%; */
    /* margin-left: 10%; */
    /* margin-right: 60%; */
    text-align: left;
}
.left-column,.right-column {
  flex-basis: 48%; /* set width of columns to be 48% of the container width */
}

.left-column {
  border-right: 1px solid #ccc; /* add vertical line separator to left column */
  padding-right: 10px; /* add some padding to the right of the left column */
  padding-left: 3%;
  padding-top: 3%;
}

.outer-container{
    /* display: inline-block; */
    display: flex; /* set display property to flex */
    justify-content: space-between;
    background: white;
    border-radius: 10px;
    width: 65%;
    height: 70%;
    box-shadow: 0px 0px 3px 0px rgb(70, 69, 69);
    position: relative;
    margin-top: 4%;
    margin-left: 25%;
}

.title_li{
    color: rgb(188, 191, 192);
    margin-bottom: 2%;
    font-size: 2.3vh;
}
.title_li_below{
    color: rgb(188, 191, 192);
    margin-bottom: 2%;
    margin-top: 9%;
    font-size: 2.3vh;
}
.report_name{
    margin-left: 10%;
    margin-bottom: 3%;
}
.subject_label{
    display: block;
    color: rgb(188, 191, 192);
    font-size: 2.3vh;
    font-weight: bolder;
}
.content{
    padding-top: 5%;
}
.content h3{
    margin-bottom: 5%;
}
#subject{
    display: block;
    width: 40%;
}
#month{
    width: 40%;
}
option{
    overflow-y:scroll;
}