.dropbtn {
    display: flex;
	  height: 100%;
	  /*padding: 0;*/
    padding: 15px 5px 15px 5px;
	  background: white;
	  outline: none;
	  overflow: hidden;
	  font-family: "Quicksand", sans-serif;
	  font-size: 16px;
	  font-weight: 500;
	  cursor: pointer;
    /*border: 1px solid #2c0dda;*/
    border: 1px solid #F8914A;
    border-radius: 15px;
  }
  
  .dropbtn:hover,
  .dropbtn:focus {
    background-color: white;
    outline: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 160px;
    padding: 8px;
    /*border: 2px solid black;*/
    border: 1px solid rgba(222, 221, 221, 0.69);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  
  .dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 16px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(238, 235, 234);
  }
  
  .show {
    display: block;
  }
  .caret{
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}
.button__text,
.button__icon {
	display: inline-flex;
	align-items: center;
	padding: 0 15px;
	color: rgb(0, 0, 0);
	height: 100%;
}
.dropdown:first-child{
    margin-right: 20px;
}