*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

:is(.btn_one, .btn_two, .btn_three) button{
    display: flex;
    background: rgb(235, 137, 58);
    color: #FFFFFF;
    font-size: 1vw;
    border: 2px solid #FFFFFF;
    cursor: pointer;
    border-radius: 15px;
    position: absolute;
    margin-top: 1.5%;
    height: 8%;
    width: 8%;
    align-items: center;
    justify-content: center;
}

.btn_one button{
    margin-left: 71.5%;
}

.btn_two button{
    margin-left: 80.7%;
}

.btn_three button{
    margin-left: 89.63%;
}

:is(.btn_one, .btn_two, .btn_three) button:hover{
    background: #FFF;
    color: rgb(235, 137, 58);
    border: 2px solid rgb(235, 137, 58);
}