.action-btns{
    display: flex;
}

.action-btns .edit{
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 15px;
    border: none;
    background: rgb(235, 137, 58);
    color: white;
    margin-left: 8%;
    
}
.action-btns .del{
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 15px;
    border: 2px solid rgb(235, 137, 58);
    background: none;
    color: rgb(235, 137, 58);
    margin-left: 8%;
}

.action-btns .edit:hover{
    color: rgb(235, 137, 58);
    background: white;
    border: 2px solid rgb(235, 137, 58);
}

.action-btns .del:hover{
    border: none;
    background: rgb(235, 137, 58);
    color: white;
}